body{
    background-color: #2f4050;
}

.col-sm-10{
    background-color: whitesmoke;
}

#side-menu a{
    color: #9fb1c2;
}


#side-menu .active a {
    color: #ffffff;
    background-color: #27aae1;
    font-weight: bold;
}

#side-menu a:hover{
    color: #ffffff;
    background-color: #1ab394;
    font-weight: bold;
    display: block;
}

.navbar-nav li{
    font-weight: bold;
    font-family: Bitter,Georgia,Times,Times New Roman,serif;
    font-size: 1.2em;
}

.line {
    margin-top: -20px;
}

#footer{
    border: 1px solid black;
    color: #eeeeee;
    background-color: #211f22;
    text-align: center;
}
